/* spring transition */
/* https://open-props.style/#easing */
/* linear(0, 0.006, 0.025 2.8%, 0.101 6.1%, 0.539 18.9%, 0.721 25.3%, 0.849 31.5%, 0.937 38.1%, 0.968 41.8%, 0.991 45.7%, 1.006 50.1%, 1.015 55%, 1.017 63.9%, 1.001) */

:root {
	font-size: 100%;
}

html,
body {
	background-color: var(--color-background);
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	max-width: 100vw;
	font-size: 1.125rem;

	hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
}

body,
.color-font {
	color: var(--color-text);
}

.color-accent {
	color: var(--color-accent);
}

body,
.serif {
	font-family: 'Times New Roman', Times, serif;
}

.monospace, .mono-small {
	font-family: 'PT Mono', 'Consolas', monospace;
}

img {
	width: 100%;
	/* user-select: none; */
	/* pointer-events: none; */

	/* https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image */
	display: block;
}

img.crisp {
	image-rendering: crisp-edges;
}

html,
body,
button {
	margin: unset;
	padding: unset;

}

a,
button {
	display: inline;
	color: unset;
	background-color: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	text-decoration: unset;
	border: unset;
	cursor: pointer;
}

a:hover,
button:hover {
	text-decoration: underline;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.justify,
.justify-last,
.justify-right {
	text-align: justify;
}

.justify-last {
	text-align-last: justify;
}

.justify-right {
	text-align-last: right;
}

.justify-center {
	text-align-last: center;
}

sup {
	font-size: .5em;
}

.bold,
.bold-italic {
	font-weight: bold;
}

.italic,
.bold-italic {
	font-style: italic;
}

.no-select {
	user-select: none;
}



.wrapper {
	width: 50rem;
}

.wrapper-wide {
	width: 75rem;
}

.wrapper,
.wrapper-wide {
	max-width: calc(100vw - 40px);
}


.mono-small {
	font-size: 0.75rem;
}

.mono-small a,
.mono-small button {
	font-weight: bold;
	user-select: auto;
}

.mono-small a:hover,
.mono-small a:focus-visible,
.mono-small a:focus-within,
.mono-small button:hover,
.mono-small button:focus-visible,
.mono-small button:focus-within {
	color: var(--color-accent);
}



.mono-small a:focus-visible,
.mono-small a:focus-within,
.mono-small button:focus-visible,
.mono-small button:focus-within {
	outline: 2px dashed var(--color-accent);
	outline-offset: 2px;
}