---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title="404? Uh oh. Somebody's lost."
            description="Huh? Where am I?"
            photoName="vacant-post-penzance-2021-11-02"
        />
    </head>
    <body>
        <main>
            <br />
            <h3 class="purple">⁈ 404 ⁈</h3>
            <h1>Hey! Watch it!</h1>
            <br />
            <p>What&apos;s the big idea, fella?</p>
            <p>I&apos;m still workin&apos; on this page!</p>
            <p>It&apos;s not ready yet!</p>
            <p>Get outta here!</p>
            <p>
                Go <a href="/" title="404! Go Home!">back to the home page</a>!
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>What&apos;s so hard to understand?</p>
            <p><i>Four Oh Four!</i></p>
            <p><i>Page Not Found!</i></p>
            <p>
                Doesn&apos;t look like there&apos;s much here, huh,
                smarty-pants?
            </p>
            <p>Does this look like a place you want to be?</p>
            <p><a href="/" title="404! Go Home!">Go home</a>!</p>
            <br />
            <br />
            <br />
            <br />
            <p>What are you still doing here?!</p>
            <p>Go on, <a href="/" title="404! Go Home!">git</a>!</p>
            <p>Scram!</p>
            <p>Agitate the gravel!</p>
            <p>Blow this pop stand!</p>
            <p><a href="/" title="404! Go Home!">Go home</a>!</p>
            <br />
            <br />
            <br />
            <br />
            <p>I <i>am</i> working on this, you know!</p>
            <p>Making pretty good progress, if I do say so myself.</p>
            <p>Writin&apos; code, by the boatload!</p>
            <p>
                It&apos;s a regular monkey-chain-typewriter situation over here!
            </p>
            <p>Check back in a little while.</p>
            <p>Maybe this page will be done soon.</p>
            <p>And in the meantime...</p>
            <p><a href="/" title="404! Go Home!">Go home</a>!</p>
            <br />
            <br />
            <br />
            <br />
            <p>What?! You&apos;re still here?!</p>
            <p>This place is dangerous!</p>
            <p>There&apos;s workplace hazards left and right!</p>
            <p>Wrenches, forklifts, nails flying everywhere!</p>
            <p>Splinters waiting to be had!</p>
            <p>Osha violations up the wazoo!</p>
            <p>I&apos;m beggin you!</p>
            <p>Just click the <a href="/" title="404! Go Home!">link</a>!</p>
            <p>Go <a href="/" title="404! Go Home!">back</a>!</p>
            <p>Please!</p>
            <br />
            <br />
            <br />
            <br />
            <p>Hey, don&apos;t touch that!</p>
            <p>Yeah, you!</p>
            <p>Put that down!</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>Ok, seriously. Joke time is over.</p>
            <p>I mean it.</p>
            <p>Notice the change in my voice?</p>
            <p>My measured tone?</p>
            <p>No more exclaimation marks here, buddy.</p>
            <p>You&apos;ve gone too far.</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>There are consequences to these things, you know.</p>
            <p>Files to be made with your name on them.</p>
            <p>Lists to be updated.</p>
            <p>People to be notified.</p>
            <p>Probably, they&apos;re wearing sunglasses.</p>
            <br />
            <p>You still have a chance.</p>
            <p>Just <a href="/" title="404! Go Home!">go home</a>.</p>
            <br />
            <br />
        </main>
        <style>
            main {
                line-height: 1.875rem;
                text-align: center;
            }

            br {
                margin-bottom: 2.5rem;
            }

            a {
                color: blue;
            }

            a:hover:not(:focus-visible) {
                text-decoration: underline;
            }

            a:focus-visible {
                outline: none;
                border: 2px dashed blue;
                display: inline-block;
                padding: 0 6px;
                margin: -2px -8px;
            }

            .purple {
                color: purple;
            }
        </style>
    </body>
</html>
