---
import Image from "../Image.astro";

interface Props {
    src?: string;
    alt?: string;
}

const { src, alt } = Astro.props;
---

<div class="img-wrapper">
    <div class="img-container">
        <Image image={{ src, caption: alt }} captionAccent={false} />
    </div>
</div>
<style>
    .img-wrapper {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 40px 0;
    }

    .img-container {
        width: 600px;
        max-width: 100%;
    }

    .mono-small {
        font-size: 0.8rem;
        line-height: normal;
        font-weight: bold;
        margin: 4px 0;
        text-align: right;
    }
</style>
