---
import type { HeaderCardTextOverImage, HeaderCardTextNoImage } from "../env";

interface Props {
    data: HeaderCardTextOverImage | HeaderCardTextNoImage;
}

// const pr = Astro.props;

---
<div class="card">
    
</div>
<style>

    .card {
        width: 600px;
        max-width: 90vw;
    }

    .title {
        font-size: 7rem;
        display: inline-block;
        text-align: justify;
        text-align-last: justify;
    }
</style>