---

---

<footer class="mono-small center">
    Go <b><a href="/">Home</a></b>. More
    <b><a href="/writing">Writing</a></b>.
    <b><a href="/about">About</a>.</b>
    <b><a href="mailto:duncanpetrie1@gmail.com">Email</a>.</b>
    <b><a href="https://instagram.com/probablyduncan">Instagram</a>.</b>
</footer>
<style>
    footer {
        width: 100%;
        max-width: calc(100vw - 20px);
        margin-bottom: 1.25em;
    }
</style>
