---
interface Props {
    width?: 'wide' | 'normal' | 'full';
}
const { width = 'normal' } = Astro.props;

// ◑☼☽

---
<footer class:list={{ 'wrapper-wide': width == 'wide', 'wrapper': width == 'normal', 'full-width': width == 'full', italic: true }}>
    <div>
        <div>
            <a href="/">Home</a>&nbsp;&nbsp;/&nbsp;
            <a href="/photography">Photography</a>&nbsp;&nbsp;/&nbsp;
            <a href="/writing">Writing</a>&nbsp;&nbsp;/&nbsp;
            <a href="/springtide">Springtide</a>
        </div>
        <!-- <div>©&nbsp;&nbsp;Duncan Petrie 2024</div> -->
    </div>
    <div class="right">
        <div>
            <a href="/about">About</a>
            &nbsp;/&nbsp;&nbsp;<a href="mailto:duncanpetrie1@gmail.com" target="_blank">Email me</a>
            &nbsp;/&nbsp;&nbsp;<a href="https://instagram.com/probablyduncan" target="_blank">Instagram</a>
        </div>
        <div>©&nbsp;&nbsp;Duncan Petrie 2024</div>
    </div>
</footer>
<style type="text/css">
    footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 1.125rem 0 2.25rem;
        border-top: 0.125rem solid var(--color-text);
    }

    footer > div > div {
        margin-bottom: 0.5rem;
    }

    footer a, footer span, footer button {
        color: unset;
        text-decoration: none;
        line-height: 1.5rem;
    }

    footer a:hover:not(a:focus-visible, a:active), footer button:hover:not(button:focus-visible, button:active) {
        text-decoration: underline;
    }

    footer a:focus-visible, footer button:focus-visible, footer a:active, footer button:active {
        display: inline-block;
        color: var(--color-accent);
        outline: none;
        border: 0.125rem dashed var(--color-accent);
        padding: 0 5px 0 0.25rem;
        margin: -0.125rem -0.4375rem -0.125rem -0.375rem;
    }

    footer.full-width {
        width: 100%;
        max-width: 100%;
    }

    @media screen and (max-width: 800px) {

        footer {
            flex-flow: column
        }

        .right {
            text-align: left;
        }
    }
</style>