---
import type { ImageSize } from "../lib/consts";
import { getImgSize, getPhotoByName } from "../lib/photoHelper";
import { type ImageProps } from "../env";

interface Props extends ImageProps {}

const {
    photoName,
    size,
    src,
    caption,
    captionAlign = "left",
    captionAccent = true,
    noCaption = false,
} = Astro.props;

if (!photoName && !src) {
    throw Error("Image must have a photo or image prop.");
}

const photoData = photoName ? getPhotoByName(photoName) : null;

const srcResolved = photoData
    ? photoData.paths[(size ?? "medium") as ImageSize]
    : src;

const captionResolved = noCaption
    ? null
    : photoData
      ? caption ?? photoData.joinedCaption
      : caption;

const ratio = photoData ? photoData.ratio : (await getImgSize(src)).ratio;
---

<img src={srcResolved} style={`aspect-ratio: ${ratio};`} alt={captionResolved} loading="lazy" />

{
    captionResolved && (
        <div
            class:list={[
                "monospace",
                { "color-accent": captionAccent },
                captionAlign,
            ]}
        >
            {captionResolved}
        </div>
    )
}

<style type="text/css">
    div {
        font-size: 0.8rem;
        font-weight: bold;
        margin: 4px 0;
    }
</style>
