---
import { type CollectionEntry, getCollection } from 'astro:content';
import MarkdownImage from '../../components/articleHeaders/MarkdownImage.astro';
import Link from '../../components/Link.astro';
import TickerNav from '../../components/TickerNav.astro';
import BaseHead from '../../components/BaseHead.astro';
import RootColors from '../../components/RootColors.astro';

type Props = CollectionEntry<"springtide">;
export async function getStaticPaths() {
    const items: any[] = await getCollection("springtide");
    return items.map((wiki) => ({
        params: { springtide: wiki.slug },
        props: wiki,
    }));
}

const post = Astro.props;

const { Content } = await post.render();
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={post.data.title + " - Springtide"} description='' imgSrc='/media/bigmapW4_small.jpg' />
        <RootColors />
    </head>
    <body>
        <TickerNav />
        <article>
            <Content components={{ a: Link, img: MarkdownImage }} />
        </article>
    </body>
</html>