---
import { type CollectionEntry, getCollection } from "astro:content";
import MarkdownImage from "../../components/MarkdownImage.astro";
import Link from "../../components/Link.astro";
import TickerNav from "../../components/TickerNav.astro";
import BaseHead from "../../components/BaseHead.astro";
import RootColors from "../../components/RootColors.astro";
import FooterMono from "../../components/FooterMono.astro";
import SpringtideLink from "../../components/SpringtideLink.astro";

type Props = CollectionEntry<"springtide">;
export async function getStaticPaths() {
    const items: any[] = await getCollection("springtide");
    return items.map((wiki) => ({
        params: { springtide: wiki.slug },
        props: wiki,
    }));
}

const post = Astro.props;

const { Content } = await post.render();
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={post.data.title + " - Springtide"}
            description=""
            imgSrc="/media/bigmapW4_small.jpg"
        />
        <RootColors />
    </head>
    <body>
        <TickerNav />
        <main>
            <h1>{post.data.title}</h1>
            <nav class="italic">
                <ul>
                    <li><Link href="/springtide">Back to map/all pages</Link>.</li>
                    {post.slug !== "about" && <li><Link href="/springtide/about">About this world</Link>.</li>}
                    <li><Link href="/">Back to home</Link>.</li>
                </ul>
            </nav>
            <hr>
            <br>
            <article>
                <Content components={{ a: SpringtideLink, img: MarkdownImage }} />
            </article>
        </main>
        <FooterMono align="center" moreLinkOverride={{href: "/springtide", text: "Springtide"}} />
    </body>
</html>
<style>

    main {
        max-width: calc(100vw - 20px);
        width: 600px;
        margin-top: calc(var(--ticker-height) + 120px);
        margin-bottom: 50vh;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 0.5em;
    }

    @media screen and (max-width: 460px) {
        nav ul {
            flex-flow: column;
            margin-bottom: 20px;
        }
    }

    article {
    }
</style>
