---
import type { MDXLayoutProps } from "astro";
import BaseHead from "../components/BaseHead.astro";
import TickerNav from "../components/TickerNav.astro";
import RootColors from "../components/RootColors.astro";
import { marked } from "marked";

interface LayoutOptions {
    title: string;
    date: Date;
    location: string;
    footerLinks?: string;
}

type Props = MDXLayoutProps<LayoutOptions>;
const { frontmatter, url } = Astro.props;

const linkAliases = {
    email: "mailto:duncanpetrie1@gmail.com",
    insta: "https://instagram.com/probablyduncan",
    about: "/about",
    writing: "/writing",
    "": "/",
};

let footerLinks =
    frontmatter.footerLinks ??
    "Go [home](/). See more [writing](w). What's this [about](/about)? [Email me](email). [Instagram](insta)";
footerLinks = footerLinks
    .replaceAll("](insta)", "](https://instagram.com/probablydunca)")
    .replaceAll("](email)", "](mailto:duncanpetrie1@gmail.com)");

const footerLinksHtml = marked.parseInline(footerLinks, {  });
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead />
        <RootColors />
    </head>
    <body>
        <TickerNav />
        <main class="flex-columns">
            <!-- <header class="mono-small">
                <div>
                    <p>
                        ► <b>{frontmatter.title}</b> ({
                            new Date(frontmatter.date).getFullYear()
                        }) by Duncan Petrie.
                    </p>
                    <p>
                        The following (<i>text</i>|<i>poem</i>|<i>manifesto</i
                        >|<i>confession</i>) is an excerpt from the archives of
                        <i>duncan&shy;petrie.com</i> for the use of anyone anywhere
                        at no cost and with almost no restrictions whatsoever.
                    </p>
                    <p>
                        Acceptable uses include: reading to children at bedtime,
                        taking twice daily with food, printing on cocktail
                        napkins, throwing out the window, sending to local
                        politicians, and ignoring entirely.
                    </p>
                    <p>Not suitable for resale.</p>
                </div>
            </header> -->
            <header>
                <p><b>{frontmatter.title.toUpperCase()}</b></p>
                <p>
                    <i>
                        {frontmatter.location}
                        <br />
                        {
                            new Intl.DateTimeFormat("en-US", {
                                month: "long",
                            }).format(new Date(frontmatter.date))
                        }
                        {new Date(frontmatter.date).getFullYear()}
                    </i>
                </p>
            </header>
            <article>
                <slot />
            </article>
            <footer class="mono-small left">
                Go <b><a href="/">Home</a></b>. More
                <b><a href="/writing">Writing</a></b>.
                <b><a href="/about">About</a>.</b>
                <b><a href="mailto:duncanpetrie1@gmail.com">Email</a>.</b>
                <b
                    ><a href="https://instagram.com/probablyduncan">Instagram</a
                    >.</b
                >
            </footer>
        </main>
        <style is:global>
            header,
            article {
                line-height: 1.6em;
            }

            header {
                padding: 20px 0;
                border-top: 2px solid var(--color-text);
                border-bottom: 2px solid var(--color-text);
                width: 400px;
                margin: 60px 0 20px;
                text-align: center;
                /* text-align: right; */
            }

            article {
                max-width: 300px;
                margin-bottom: 50vh;
            }

            footer {
                margin-bottom: 1.25em;
                /* border-top: 2px solid var(--color-text);
                padding-top: 1em; */
            }
        </style>
    </body>
</html>
